<!DOCTYPE html>
<meta charset="utf-8">
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.segment text {
  text-anchor: end;
}

.overlay {
                fill: none;
                pointer-events: all;
            }
.focusLine line {
                fill: none;
                stroke: black;
                stroke-width: 1;
            }

</style>
<body>
<script src="http://d3js.org/d3.v3.js"></script>
<script>

d3.selection.prototype.moveToFront = function() {
  return this.each(function(){
  	console.log(this);
    this.parentNode.parentNode.appendChild(this);
  });
};

var margin = {top: 20, right: 115, bottom: 20, left: 100},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var parseDate = d3.time.format("%Y%m").parse,
    formatPercent = d3.format(".0%");

var x = d3.time.scale()
    .range([0, width]);

var y = d3.scale.linear()
    .range([height, 0])
    .domain([0,500]);

var color = d3.scale.category20();

var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left");
    //.tickFormat(formatPercent);

var area = d3.svg.area()
    .x(function(d) { return x(d.date); })
    .y0(function(d) { return y(d.y0); })
    .y1(function(d) { return y(d.y0 + d.y); });

var stack = d3.layout.stack()
    .values(function(d) { return d.values; });

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

d3.csv("../data/arch_data.csv", function(error, data) {
	
  color.domain(d3.keys(data[0]).filter(function(key) { return key !== "date" && key !== ""; }));

  data.forEach(function(d) {
    d.date = parseDate(d.date);
  });

  var segments = stack(color.domain().map(function(name) {
    return {
      name: name,
      values: data.map(function(d) {
        return {date: d.date, y: +d[name] };
      })
    };
  }));

  x.domain(d3.extent(data, function(d) { return d.date; }));

  var segment = svg.selectAll(".segment")
      .data(segments)
    .enter().append("g")
      .attr("class", "segment");

  segment.append("path")
      .attr("class", "area")
      .attr("d", function(d) { return area(d.values); })
      .style("fill", function(d) { return color(d.name); });

   segment.append("text")
      .datum(function(d) { return {name: d.name, value: d.values[d.values.length - 1]}; })
      .attr("transform", function(d) { return "translate(" + x(d.value.date) + "," + y(d.value.y0 + d.value.y / 2) + ")"; })
      .attr("x", 2)
      .attr("dy", ".35em")
      .attr("class","top")
      .text(function(d) { return d.name; });
      
   segment.append("text")
      .datum(function(d) {  return {name: d.name, values: d.values}; } )
      .attr("transform", function(d) { console.log(d.values); return "translate(" + x(d.values[10].date) + "," + y(d.values[10].y0 + d.values[10].y / 2) + ")"; })
      .attr("x", 2)
      .attr("dy", ".35em")
      .attr("class","focus")
      .text(function(d) { return d.name; })
      .style("display","none");

 
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);

   d3.selectAll(".top").moveToFront();
   d3.selectAll(".focus").moveToFront();
   
   var bisectDate = d3.bisector(function(d){ return d.date; }).left;
   
   var focusL = svg.append("g")
   					.attr("class","focusLine")
                    .style("display","none");
                focusL.append("line")
                    .attr("x1",margin.left)
                    .attr("y1",margin.top)
                    .attr("x2",margin.left)
                    .attr("y2",height+2*margin.bottom);
	d3.selectAll(".focusLine").moveToFront();
    svg.append("rect")
                    .attr("class", "overlay")
                    .attr("width",width)
                    .attr("height",height)
                    .on("mouseover",function() { 
                    	focusL.style("display",null);
                        d3.selectAll(".focus")
                        	.each(function(d,i){
                        		console.log(this);
                        		d3.select(this)
                        			.style("display",null);
                        	});
                        d3.selectAll(".top")
                        	.each(function(d,i){
                        		console.log(this);
                        		d3.select(this)
                        			.style("display","none");
                        	});
                    })
                    .on("mouseout",function() {
                        focusL.style("display","none");
                        d3.selectAll(".focus")
                        	.each(function(d,i){
                        		console.log(this);
                        		d3.select(this)
                        			.style("display","none");
                        	});
                        d3.selectAll(".top")
                        	.each(function(d,i){
                        		console.log(this);
                        		d3.select(this)
                        			.style("display",null);
                        	});
                    })
                    .on("mousemove", mousemove);
    function mousemove() {
    				//var selection=d3.selectAll(".focus");
                    var x0 =  x.invert(d3.mouse(this)[0]),
                        i = bisectDate(data,x0,1),
                        d0 = data[i-1],
                        d1 = data[i],
                        d = x0-d0.date > d1.date-x0 ? d1 : d0;
                        dind = x0-d0.date > d1.date-x0 ? i : i-1;
                        //console.log(dind);
                    d3.selectAll(".focus")
                    	.each(function(d,i){
                    		//console.log(d);
                    		d3.select(this).attr("transform", function(d) { return "translate(" + x(d.values[dind].date) + "," + y(d.values[dind].y0 + d.values[dind].y / 2) + ")"; })
                    			.text(function(d) { return d.name+" "+d.values[dind].y+ "("+d.values[dind].y/5+"%)"; });

                    		if (d.values[dind].y>0){
                    			d3.select(this).style("display",null);
                    		}else{
                    			d3.select(this).style("display","none");
                    		}
                    	});
                    focusL.attr("transform","translate(" +x(d.date)+","+
                    0+")");
                    
                    
                }

});

</script>