<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Top 500 Visualization Performance Line Plot</title>
        <script type="text/javascript" src="../d3/d3.v3.min.js"></script>
        <style type="text/css">
            body {
                font: 10px sans-serif;
            }
            .axis path,
            .axis line {
                fill: none;
                stroke: black;
                shape-rendering: crispEdges;
            }
            .axis text {
                font-family: sans-serif;
                font-size: 11px;
            }
            .line {
                fill: none;
                stroke=width : 2.0 px;
            }
            .overlay {
                fill: none;
                pointer-events: all;
            }
            .focus circle {
                fill: none;
                stroke: black;
            }
            .focus line {
                fill: none;
                stroke: black;
                stroke-width: 1;
            }
        </style>
    </head>
    <body>
        <script type="text/javascript">
        	var alpha = 1.5;
			var spacing = 12;
			function relax(lab_list) {
				var again=true;
				while (again){
					again = false;
					//while (again==true)
					lab_list.forEach(function(a,i) {
						lab_list.slice(i+1).forEach(function(b) {
							var atrans = a.getAttribute('transform');
							var aparts  = /translate\(\s*([^\s,)]+)[ ,]([^\s,)]+)/.exec(atrans);
							var btrans = b.getAttribute('transform');
							var bparts  = /translate\(\s*([^\s,)]+)[ ,]([^\s,)]+)/.exec(btrans);
							aparts[1]=+aparts[1];
							aparts[2]=+aparts[2];
							bparts[1]=+bparts[1];
							bparts[2]=+bparts[2];
							var dy = aparts[2] - bparts[2];
							dy = dy || 0
							if (Math.abs(dy) < spacing) {
								again = true;
								var sign = dy > 0 ? 1 : -1;
								var movea= aparts[2] + sign*alpha
								if (movea<0){
									movea=0;
								}
								var moveb= bparts[2] - sign*alpha
								if (moveb<0){
									moveb=0;
								}
								d3.select(a).attr("transform",function(d) { return "translate("+aparts[1]+","+movea+")";});
								d3.select(b).attr("transform",function(d) { return "translate("+bparts[1]+","+moveb+")";});
								a.y += sign*alpha;
								b.y -= sign*alpha;
							}
						});
					});
					//again=false;
				};
			};

            
            //Width and height
            var margin = {top: 20, right: 115, bottom: 20, left: 100},
                w=960-margin.left-margin.right,
                h=500-margin.top-margin.bottom;

            var dateParser = d3.time.format("%Y%m").parse;
            var dateOutput = d3.time.format("%b %Y");
            var bisectDate = d3.bisector(function(d){ return d.date; }).left;
            var xScale = d3.time.scale()
                .range([0,w]);
            var yScale = d3.scale.log()
                .range([h,0]);

            var color = d3.scale.category10();

            var xAxis = d3.svg.axis()
                .scale(xScale)
                .orient("bottom");

            var yAxis = d3.svg.axis()
                .scale(yScale)
                .orient("left");
            
            var line = d3.svg.line()
                .x(function(d) { return xScale(d.date); })
                .y(function(d) { return yScale(d.cores);} );
                //.interpolate("basis")
                
    
            var svg = d3.select("body")
                .append("svg")
                .attr("width",w+margin.left+margin.right)
                .attr("height",h+margin.top+margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top
                + ")");

            d3.csv("../data/core_data.csv",function(error,data) {
                console.log(data);
                color.domain(d3.keys(data[0]).filter(function(key) {return key
                !== "date" && key!== ""; }));
                data.forEach(function(d) {
                    d.date=dateParser(d.date);
                });

                var metrics = color.domain().map(function(name) {
                    return {
                        name: name,
                        values: data.map(function(d) {
                            return { date: d.date, cores: +d[name]};
                        })
                    };
                });
                xScale.domain(d3.extent(data, function(d) { return d.date; }));
                yScale.domain([ 0.1,
                    //d3.min(cities,function(c) { return d3.min(c.values,
                    //function(v) {return v.temperature; }); })-15,
                    d3.max(metrics,function(c) { return d3.max(c.values,
                    function(v) {return v.cores; }); })
                ]); 
                
                svg.append("g")
                    .attr("class","x axis")
                    .attr("transform", "translate(0," + h + ")")
                    .call(xAxis);

                svg.append("g")
                    .attr("class", "y axis")
                    .call(yAxis)
                    .append("text")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 6)
                    .attr("x", -125)
                    .attr("dy", ".71em")
                    .style("text-anchor","end")
                    .text("Cores");



                var metric = svg.selectAll(".metric")
                    .data(metrics)
                    .enter()
                    .append("g")
                    .attr("class","metric");

                metric.append("path")
                    .attr("class","line")
                    .attr("d", function(d) { return line(d.values); })
                    .style("stroke", function(d) { return color(d.name); });

                var legend = svg.selectAll(".legend")
                    .data(color.domain())
                    .enter()
                    .append("g")
                    .attr("class","legend")
                    .attr("transform",function(d,i) { return "translate(0,"
                    +((i*20)+350) +")"; });

                legend.append("rect")
                    .attr("x",w-18)
                    .attr("width",18)
                    .attr("height",18)
                    .style("fill",color);

                legend.append("text")
                    .attr("x",w-24)
                    .attr("y",9)
                    .attr("dy", ".35em")
                    .style("text-anchor","end")
                    .text(function(d) {return d;});


                var focusAc = svg.append("g")
                    .attr("class","focus")
                    .style("display","none");
                focusAc.append("circle")
                    .attr("r",4.5);
                var focusAt = svg.append("g")
                    .attr("class","focus")
                    .style("display","none");
                focusAt.append("text")
                    .attr("x",9)
                    .attr("dy", ".35em");

                var focusBc = svg.append("g")
                    .attr("class","focus")
                    .style("display","none");
                focusBc.append("circle")
                    .attr("r",4.5);
                var focusBt = svg.append("g")
                    .attr("class","focus")
                    .style("display","none");
                focusBt.append("text")
                    .attr("x",9)
                    .attr("dy", ".35em");

                var focusCc = svg.append("g")
                    .attr("class","focus")
                    .style("display","none");
                focusCc.append("circle")
                    .attr("r",4.5);
                var focusCt = svg.append("g")
                    .attr("class","focus")
                    .style("display","none");
                focusCt.append("text")
                    .attr("x",9)
                    .attr("dy", ".35em");

                var focusDc = svg.append("g")
                    .attr("class","focus")
                    .style("display","none");
                focusDc.append("circle")
                    .attr("r",4.5);
                var focusDt = svg.append("g")
                    .attr("class","focus")
                    .style("display","none");
                focusDt.append("text")
                    .attr("x",9)
                    .attr("dy", ".35em");
                
                
                var focusL = svg.append("g")
                    .attr("class","focus")
                    .style("display","none");
                focusL.append("line")
                    .attr("x1",0)
                    .attr("y1",0)
                    .attr("x2",0)
                    .attr("y2",h+margin.bottom);
                focusL.append("text")
                    .attr("x",9)
                    .attr("y",h-8)
                    .attr("dy", ".35em");

                svg.append("rect")
                    .attr("class", "overlay")
                    .attr("width",w)
                    .attr("height",h)
                    .on("mouseover",function() { 
                        focusAc.style("display", null);
                        focusAt.style("display", null);
                        focusBc.style("display", null);
                        focusBt.style("display", null);
                        focusCc.style("display", null);
                        focusCt.style("display", null);
                        focusDc.style("display", null);
                        focusDt.style("display", null);
                        focusL.style("display", null);
                    })
                    .on("mouseout",function() {
                        focusAc.style("display", "none");
                        focusAt.style("display", "none");
                        focusBc.style("display", "none");
                        focusBt.style("display", "none");
                        focusCc.style("display", "none");
                        focusCt.style("display", "none");
                        focusDc.style("display", "none");
                        focusDt.style("display", "none");
                        focusL.style("display", "none");
                    })
                    .on("mousemove", mousemove);

                function mousemove() {
                    var x0 =  xScale.invert(d3.mouse(this)[0]),
                        i = bisectDate(data,x0,1),
                        d0 = data[i-1],
                        d1 = data[i],
                        d = x0-d0.date > d1.date-x0 ? d1 : d0;
                        console.log(d);
                    
                    focusAc.attr("transform","translate(" +xScale(d.date)+","+
                    yScale(d.min)+")");
					focusAt.attr("transform","translate(" +xScale(d.date)+","+
                    yScale(d.min)+")");
                    focusAt.select("text").text(d.min+"Cores");
                    
                    focusBc.attr("transform","translate(" +xScale(d.date)+","+
                    yScale(d.max)+")");
                    focusBt.attr("transform","translate(" +xScale(d.date)+","+
                    yScale(d.max)+")");
                    focusBt.select("text").text(d.max+"Cores");
                    
                    focusCc.attr("transform","translate(" +xScale(d.date)+","+
                    yScale(d.mean)+")");
                    focusCt.attr("transform","translate(" +xScale(d.date)+","+
                    yScale(d.mean)+")");
                    focusCt.select("text").text(d.mean+"Cores");
                    
                    focusDc.attr("transform","translate(" +xScale(d.date)+","+
                    yScale(d['#1'])+")");
                    focusDt.attr("transform","translate(" +xScale(d.date)+","+
                    yScale(d['#1'])+")");
                    focusDt.select("text").text(d['#1']+"Cores");
                    
                    focusL.attr("transform","translate(" +xScale(d.date)+","+
                    0+")");
                    focusL.select("text").text(dateOutput(d.date));
                    relax([focusAt[0][0],focusBt[0][0],focusCt[0][0],focusDt[0][0]]);
                }


            });
        </script>
    </body>
</html>
